{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>foney</title>#}
{#</head>#}
{#<body>#}
{#        <table class="table-striped table-hover table-info">#}
{#            <tr>#}
{#                <td>Name</td> <td>{{ name }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Surname</td> <td>{{surname }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Age</td> <td>{{age }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Saraly</td> <td>{{saraly }}</td>#}
{#            </tr>#}
{#        </table>#}
{##}
{##}
{#</body>#}
{#</html>#}